.counter {
	border: 1px solid #ccc;
	border-radius: 50% 20% / 10% 40%;
	background-color: rgba($color: #0f0e0e, $alpha: 1);
	padding: 2em;

	code {
		background-color: rgba($color: #222222, $alpha: 1);
	}
}
